@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --light-face: 1;     /* fully lit */
  --side-face: 0.85;   /* slightly darker */
  --back-face: 0.65;   /* much darker */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 100000px; /*for no-warping, flat looking rotation*/
  width: fit-content;
  height: fit-content;
}

.cube-grid-container {
  container-type: inline-size;
  /*position: fixed;
  bottom: 0;*/

  --cube-size: 7cqw;/*clamp(10px, 7cqw, 130px);*/
  --half-cube-size: calc(var(--cube-size) / 2);
  --letter-img-size: 3cqw;
  --letter-text-size: 2.75cqw;
  --letter-text-size-sm: 1cqw;
  --modal-img-size-sm: 2cqw;
  --modal-text-size-sm: 2cqw;
}

.cube {
  /*--cube-size: clamp(10px, 7svw, 130px);/*70px, 8.5 svw, 160px*/
  /*--half-cube-size: calc(var(--cube-size) / 2);*/
 
  width: var(--cube-size);
  height: var(--cube-size);
  position: relative;
  
  transform-style: preserve-3d;
}

.cube-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg); /* start state */
}

.face {
  position: absolute;
  width: 100.75%;
  height: 100.75%;
  backface-visibility: hidden;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face.front  { 
  transform: rotateY(  0deg) translateZ(var(--half-cube-size));
  /*filter: brightness(var(--light-face));*/
}
.face.back   { 
  transform: rotateY(180deg) translateZ(var(--half-cube-size)); 
  /*filter: brightness(var(--back-face));*/
}
.face.right  { 
  transform: rotateY( 90deg) translateZ(var(--half-cube-size));
  /*filter: brightness(var(--side-face));*/ 
}
.face.left   {
  transform: rotateY(-90deg) translateZ(var(--half-cube-size)); 
  /*filter: brightness(var(--side-face));*/
}
.face.top    { 
  transform: rotateX( 90deg) translateZ(var(--half-cube-size));
  /*filter: brightness(var(--side-face));*/
}
.face.bottom { 
  transform: rotateX(-90deg) translateZ(var(--half-cube-size));
  /*filter: brightness(var(--back-face));*/
}

.fade-mask{
  --fade-width: 15%;

  mask-image: linear-gradient(
    to right,
    transparent var(--fade-width),
    black calc(var(--fade-width) + 1%),
    black calc(100% - var(--fade-width)- 1%),
    transparent 100% - var(--fade-width)
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.text-glyph-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-glyph-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-die-scale {
  width: var(--letter-img-size);/*clamp(10px, 3svw, 130px);*/
  height: var(--letter-img-size);/*clamp(10px, 3svw, 130px);*/
}

.text-die-scale {
  font-size: var(--letter-text-size);/*clamp(10px, 2.75svw, 130px);*/
}

.text-die-scale-small {
  font-size: var(--letter-text-size-sm);/*clamp(0.5rem,1vw,1rem);*/
}

.image-modal-scale-small {
  width: var(--modal-img-size-sm);
  height: var(--modal-img-size-sm);
}

.text-modal-scale-small {
  font-size: var(--modal-text-size-sm);/*clamp(0.5rem,1vw,1rem);*/
}

.letter-modal {
  --color-default: #f5f5f5;
  --color-sat: #ccc;
  --color-lit: #eee;
  --color-dark: #999;

  background-color: var(--color-default); 
}

.letter-title {
  color: var(--color-dark);
}

@font-face {
  font-family: 'Noto Egyptian';
  src: url('/fonts/NotoSansEgyptianHieroglyphs-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Phoenician';
    src: url('/fonts/NotoSansPhoenician-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Ugaritic';
  src: url('/fonts/NotoSansUgaritic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Old South Arabian';
  src: url('/fonts/NotoSansOldSouthArabian-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Old North Arabian';
  src: url('/fonts/NotoSansOldNorthArabian-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Ethiopic';
  src: url('/fonts/NotoSansEthiopic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Samaritan';
  src: url('/fonts/NotoSansSamaritan-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Old';
  src: url('/fonts/NotoSansOldItalic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Hebrew';
  src: url('/fonts/NotoSansHebrew-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplay_SemiCondensed-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
